@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/* @group Forms UI */

input[type=text],[type=password] {
	-webkit-transition:box-shadow 0.2s linear;
	-moz-transition:box-shadow 0.2s linear;
	transition:box-shadow 0.2s linear;

	width:200px;
    
    padding: 10px;
    font-size: 10px;
    outline: none;
    border-radius:5px;
    background-color: rgba(255,255,255,0.1);
    border: none;
	-moz-box-shadow: inset 0px 0px 5px #fff;
	-webkit-box-shadow: inset 0px 0px 5px #fff;
	box-shadow: inset 0px 0px 5px #fff;
	color:#fff;
	
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

select {
    -webkit-transition:box-shadow 0.2s linear;
    -moz-transition:box-shadow 0.2s linear;
    transition:box-shadow 0.2s linear;
    
    width:200px;
        
    padding: 10px;
    font-size: 10px;
    outline: none;
	border-radius:5px;
    background-color: rgba(255,255,255,0.1);
    border: none;
    -moz-box-shadow: inset 0px 0px 5px #fff;
    -webkit-box-shadow: inset 0px 0px 5px #fff;
    box-shadow: inset 0px 0px 5px #fff;
   	color:#fff;
    	
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

select:hover {box-shadow: inset 0px 0px 7px #fff;}
select:focus {box-shadow: inset 0px 0px 12px #fff;}

input:hover {box-shadow: inset 0px 0px 7px #fff;}
input:focus {box-shadow: inset 0px 0px 12px #fff;}

input[type=submit]:hover {box-shadow: inset 0px 0px 7px #fff;}
input[type=submit]:focus {box-shadow: inset 0px 0px 12px #fff;}

input[type=submit] {
	-webkit-transition:box-shadow 0.2s linear;
	-moz-transition:box-shadow 0.2s linear;
	transition:box-shadow 0.2s linear;
	
    outline: none;
    border-radius:5px;
    background-color: rgba(255,255,255,0.1);
    border: none;
	-moz-box-shadow: inset 0px 0px 5px #fff;
	-webkit-box-shadow: inset 0px 0px 5px #fff;
	box-shadow: inset 0px 0px 5px #fff;
	color:#fff;
	margin: 5px;
	padding: 5px 9px;
}

.hidden {
	display: none;
}

/* @end */

/* @group Top Area */

#loginForm {
	position: absolute;
	right: 10px;
	top: 5px;
}

#topBar {
	width: 100%;
	height: 45px;
	
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	left: 0;
	
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 );
	z-index: 1;
}

#partyTitle {
	font: 20px 'Noto Sans', sans-serif;
	font-weight: 800;
	color: #ffffff;
	position: absolute;
	top: 7px;
	left: 7px;
}

/* @end */

/* @group Current Game */

#currentGameBox {
	border-radius: 5px;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 );
	
	position: absolute;
	width: 100%;
	padding: 12px;
}

#currentGameBoxHolder {
	position: absolute;
	right: 8%;
	left: 8%;
	top: 100px;
	
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
	z-index: 1;
}

#currentGameDescription {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
}

#currentGame {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 800;
	color: #ffffff;
}

/* @end */

/* @group Polls */

#pollsBoxHolder {
	position: absolute;
	right: 8%;
	left: 8%;
	top: 300px;
	
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	z-index: 1;
}

#pollsBox {
	border-radius: 5px;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 );
	
	position: absolute;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	
	font: 15px 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
}

/* @end */

/* @group Servers */

#serversBoxHolder {
	position: absolute;
	right: 8%;
	left: 8%;
	top: 600px;
	
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
	-ms-animation: fadein 3s;
	-o-animation: fadein 3s;
	animation: fadein 3s;
	z-index: 1;
}

#serversBox {
	border-radius: 5px;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 );
	
	position: absolute;
	width: 100%;
	padding: 12px;
	
	font: 15px 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
}

.serverInfo {
	font: 12px 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #c1c1c1;
}

/* @end */

/* @group Alert */

#alert {
	border-radius: 5px;
	background-color: #555555;
	
	font: 18px 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
	padding: 20px;
	-moz-box-shadow: 0 0 1px #434343;
	box-shadow: 0 0 1px #434343;
	-webkit-box-shadow: 0 0 1px #434343;
}

#alertHolder {
	position: absolute;
	right: 5%;
	bottom: 5%;
	z-index: 1;
}

/* @end */

/* @group Page */

#bg {	
	width: 100%;
	height: 100%;
	
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000000;
}

/* @end */

/* @group Animations */

@keyframes bounce {
    0% { left: 0%; }
    50%   { left: 98%; }
    100%   { left: 0%; }
}

@-webkit-keyframes bounce {
    0% { left: 0%; }
    50%   { left: 98%; }
    100%   { left: 0%; }
}

@-webkit-keyframes blur {
	0% {-webkit-filter: blur(3px);}
	50% {-webkit-filter: blur(10px);}
	100% {-webkit-filter: blur(3px);}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* @end */